<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WPF_Tranning.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <appSettings>
    <add key="SecurityLevel" value="3" />
    <add key="Locale" value="en" />

    <!--쿼리문-->
    <add key="selectScore" value="exec SelectScore" />
    <!--########################################################################-->
    <add key="Score_Modify" value="exec Score_Modify" />
    <add key="Score_Select" value="exec Score_Select" />
    <add key="Save_Score" value="exec Save_Score" />
    <add key="Search_Score" value="exec Score_Search" />
    <add key="Score_double" value="exec CheckScoreDouble " />
    <add key="Save_Double_AppKey" value="Save_Double_Score" />
    
  </appSettings>

  <connectionStrings>
    <add name="connectDB" connectionString="Data Source=DESKTOP-DEVELOP;          Initial Catalog=BaseBallGameWinform_DB;           Integrated Security=SSPI;" providerName="System.Data.SqlClient;" />

  </connectionStrings>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-2.12.3.0" newVersion="2.12.3.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
  <userSettings>
    <WPF_Tranning.Properties.Settings>
      <setting name="DontShow" serializeAs="String">
        <value>False</value>
      </setting>
    </WPF_Tranning.Properties.Settings>
  </userSettings>
</configuration>